@font-face {
  font-family: 'Elite';
  src: url(../survey-form/SpecialElite-Regular.ttf);
}
body{
    margin: 0;
    line-height: 1.4;
    background-image: url();
    font-family: 'Elite';
    background-image: cover;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
form {
  background: ;
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto;
}
h1.title{
  text-align: center;
}
p.description{
  text-align: center;
  font-size: 20px;
}
.submit{
  width: 100%;
  padding: 0.75rem;
  background: red;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.input-headings{
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
.form-input{
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}